*.egg-info
*.log
*.pyc
*.db
*.swp
*.swo
*.zip
*.cfg
*.tox
*~
*.mo
*.sqlite
.vscode/
dist
build
instance
production.py
logs
uploads
openid
env
temp
webapp.sublime-*
/.venv/
_pgbackup/
_pginfo/
bootstrap3_audit/
bootstrap3_backup/
bootstrap3_migration_logs/
*_old

# PyCharm project files to share
!.idea/
!.idea/modules.xml
!.idea/*.iml
!.idea/runConfigurations/
!.idea/codeStyles/

# PyCharm files to ignore
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/shelf/

# Environment files
.env
