*.egg-info
*.log
*.pyc
*.db
*.swp
*.swo
*.zip
*.cfg
*.tox
*~
*.mo

*.db
*.sqlite

.vscode/

dist
build

instance
production.py
logs
uploads
openid

env
temp
webapp.sublime-*
/.venv/
_pgbackup/
_pginfo/
bootstrap3_audit/
bootstrap3_backup/
bootstrap3_migration_logs/
*_old
