Flask>=2.3
Flask-WTF
Flask-Login
Flask-Babel
Flask-SQLAlchemy
Flask-Mail
Flask-Testing
Flask-SocketIO
flask-openid
SQLAlchemy>=1.4
alembic
markupsafe
email-validator
click
pytest
coverage
pytest-cov
python-dotenv
python-dateutil
pyOpenSSL
netifaces2
chump
gntp
Slixmpp
twilio
opencv-python
numpy
requests
gevent
sh