[0m[0;4mUNIT FILE                                 [0m[0m[0;4m STATE          [0m[0m[0;4m PRESET  [0m
alarmdecoder.service                       [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
alsa-restore.service                       static          [0;38;5;245m-       [0m
alsa-state.service                         static          [0;38;5;245m-       [0m
alsa-utils.service                         [0;1;31mmasked         [0m[0;1;31m [0m[0;1;32menabled [0m
apparmor.service                           [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
apt-daily-upgrade.service                  static          [0;38;5;245m-       [0m
apt-daily.service                          static          [0;38;5;245m-       [0m
auth-rpcgss-module.service                 static          [0;38;5;245m-       [0m
autovt@.service                            [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
avahi-daemon.service                       [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
bluetooth.service                          [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
bthelper@.service                          static          [0;38;5;245m-       [0m
cgroupfs-mount.service                     [0;1;31mmasked         [0m[0;1;31m [0m[0;1;32menabled [0m
console-getty.service                      [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;31mdisabled[0m
console-setup.service                      [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
container-getty@.service                   static          [0;38;5;245m-       [0m
containerd.service                         [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
cron.service                               [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
cryptdisks-early.service                   [0;1;31mmasked         [0m[0;1;31m [0m[0;1;32menabled [0m
cryptdisks.service                         [0;1;31mmasked         [0m[0;1;31m [0m[0;1;32menabled [0m
dbus-fi.w1.wpa_supplicant1.service         [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
dbus-org.bluez.service                     [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
dbus-org.freedesktop.Avahi.service         [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
dbus-org.freedesktop.hostname1.service     [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
dbus-org.freedesktop.locale1.service       [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
dbus-org.freedesktop.login1.service        [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
dbus-org.freedesktop.ModemManager1.service [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
dbus-org.freedesktop.nm-dispatcher.service [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
dbus-org.freedesktop.timedate1.service     [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
dbus-org.freedesktop.timesync1.service     [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
dbus.service                               static          [0;38;5;245m-       [0m
debug-shell.service                        [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;31mdisabled[0m
docker.service                             [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
dphys-swapfile.service                     [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
dpkg-db-backup.service                     static          [0;38;5;245m-       [0m
e2scrub@.service                           static          [0;38;5;245m-       [0m
e2scrub_all.service                        static          [0;38;5;245m-       [0m
e2scrub_fail@.service                      static          [0;38;5;245m-       [0m
e2scrub_reap.service                       [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
emergency.service                          static          [0;38;5;245m-       [0m
fake-hwclock.service                       [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
fstrim.service                             static          [0;38;5;245m-       [0m
getty-static.service                       static          [0;38;5;245m-       [0m
getty@.service                             [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
hciuart.service                            [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
hwclock.service                            [0;1;31mmasked         [0m[0;1;31m [0m[0;1;32menabled [0m
initrd-cleanup.service                     static          [0;38;5;245m-       [0m
initrd-parse-etc.service                   static          [0;38;5;245m-       [0m
initrd-switch-root.service                 static          [0;38;5;245m-       [0m
initrd-udevadm-cleanup-db.service          static          [0;38;5;245m-       [0m
keyboard-setup.service                     [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
kmod-static-nodes.service                  static          [0;38;5;245m-       [0m
kmod.service                               [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
logrotate.service                          static          [0;38;5;245m-       [0m
man-db.service                             static          [0;38;5;245m-       [0m
ModemManager.service                       [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
modprobe@.service                          static          [0;38;5;245m-       [0m
NetworkManager-dispatcher.service          [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
NetworkManager-wait-online.service         [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
NetworkManager.service                     [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
nfs-common.service                         [0;1;31mmasked         [0m[0;1;31m [0m[0;1;32menabled [0m
nfs-idmapd.service                         static          [0;38;5;245m-       [0m
nfs-utils.service                          static          [0;38;5;245m-       [0m
nftables.service                           [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;32menabled [0m
nm-priv-helper.service                     static          [0;38;5;245m-       [0m
pam_namespace.service                      static          [0;38;5;245m-       [0m
pigpiod.service                            [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;32menabled [0m
polkit.service                             static          [0;38;5;245m-       [0m
portmap.service                            [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
procps.service                             [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
quotaon.service                            static          [0;38;5;245m-       [0m
rc-local.service                           static          [0;38;5;245m-       [0m
rc.service                                 [0;1;31mmasked         [0m[0;1;31m [0m[0;1;32menabled [0m
rcS.service                                [0;1;31mmasked         [0m[0;1;31m [0m[0;1;32menabled [0m
regenerate_ssh_host_keys.service           [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;32menabled [0m
rescue.service                             static          [0;38;5;245m-       [0m
rpc-gssd.service                           static          [0;38;5;245m-       [0m
rpc-statd-notify.service                   static          [0;38;5;245m-       [0m
rpc-statd.service                          static          [0;38;5;245m-       [0m
rpc-svcgssd.service                        static          [0;38;5;245m-       [0m
rpcbind.service                            [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;32menabled [0m
rpi-display-backlight.service              [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
rpi-eeprom-update.service                  [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
rsync.service                              [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;32menabled [0m
serial-getty@.service                      [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;32menabled [0m
ssh.service                                [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
sshd.service                               [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
sshswitch.service                          [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
sudo.service                               [0;1;31mmasked         [0m[0;1;31m [0m[0;1;32menabled [0m
system-update-cleanup.service              static          [0;38;5;245m-       [0m
systemd-ask-password-console.service       static          [0;38;5;245m-       [0m
systemd-ask-password-wall.service          static          [0;38;5;245m-       [0m
systemd-backlight@.service                 static          [0;38;5;245m-       [0m
systemd-binfmt.service                     static          [0;38;5;245m-       [0m
systemd-boot-check-no-failures.service     [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;31mdisabled[0m
systemd-exit.service                       static          [0;38;5;245m-       [0m
systemd-firstboot.service                  static          [0;38;5;245m-       [0m
systemd-fsck-root.service                  enabled-runtime [0;1;32menabled [0m
systemd-fsck@.service                      static          [0;38;5;245m-       [0m
systemd-fsckd.service                      static          [0;38;5;245m-       [0m
systemd-halt.service                       static          [0;38;5;245m-       [0m
systemd-hibernate-resume@.service          static          [0;38;5;245m-       [0m
systemd-hibernate.service                  static          [0;38;5;245m-       [0m
systemd-hostnamed.service                  static          [0;38;5;245m-       [0m
systemd-hybrid-sleep.service               static          [0;38;5;245m-       [0m
systemd-initctl.service                    static          [0;38;5;245m-       [0m
systemd-journal-flush.service              static          [0;38;5;245m-       [0m
systemd-journald.service                   static          [0;38;5;245m-       [0m
systemd-journald@.service                  static          [0;38;5;245m-       [0m
systemd-kexec.service                      static          [0;38;5;245m-       [0m
systemd-localed.service                    static          [0;38;5;245m-       [0m
systemd-logind.service                     static          [0;38;5;245m-       [0m
systemd-machine-id-commit.service          static          [0;38;5;245m-       [0m
systemd-modules-load.service               static          [0;38;5;245m-       [0m
systemd-network-generator.service          [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;32menabled [0m
systemd-networkd-wait-online.service       [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;31mdisabled[0m
systemd-networkd-wait-online@.service      [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;32menabled [0m
systemd-networkd.service                   [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;32menabled [0m
systemd-pcrphase-initrd.service            static          [0;38;5;245m-       [0m
systemd-pcrphase-sysinit.service           static          [0;38;5;245m-       [0m
systemd-pcrphase.service                   static          [0;38;5;245m-       [0m
systemd-poweroff.service                   static          [0;38;5;245m-       [0m
systemd-pstore.service                     [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
systemd-quotacheck.service                 static          [0;38;5;245m-       [0m
systemd-random-seed.service                static          [0;38;5;245m-       [0m
systemd-reboot.service                     static          [0;38;5;245m-       [0m
systemd-remount-fs.service                 enabled-runtime [0;1;32menabled [0m
systemd-repart.service                     static          [0;38;5;245m-       [0m
systemd-rfkill.service                     static          [0;38;5;245m-       [0m
systemd-suspend-then-hibernate.service     static          [0;38;5;245m-       [0m
systemd-suspend.service                    static          [0;38;5;245m-       [0m
systemd-sysctl.service                     static          [0;38;5;245m-       [0m
systemd-sysext.service                     [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;32menabled [0m
systemd-sysusers.service                   static          [0;38;5;245m-       [0m
systemd-time-wait-sync.service             [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;31mdisabled[0m
systemd-timedated.service                  static          [0;38;5;245m-       [0m
systemd-timesyncd.service                  [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
systemd-tmpfiles-clean.service             static          [0;38;5;245m-       [0m
systemd-tmpfiles-setup-dev.service         static          [0;38;5;245m-       [0m
systemd-tmpfiles-setup.service             static          [0;38;5;245m-       [0m
systemd-udev-settle.service                static          [0;38;5;245m-       [0m
systemd-udev-trigger.service               static          [0;38;5;245m-       [0m
systemd-udevd.service                      static          [0;38;5;245m-       [0m
systemd-update-utmp-runlevel.service       static          [0;38;5;245m-       [0m
systemd-update-utmp.service                static          [0;38;5;245m-       [0m
systemd-user-sessions.service              static          [0;38;5;245m-       [0m
systemd-volatile-root.service              static          [0;38;5;245m-       [0m
triggerhappy.service                       [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
udev.service                               [0;1;32malias          [0m[0;1;32m [0m[0;38;5;245m-       [0m
udisks2.service                            [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
usb_modeswitch@.service                    static          [0;38;5;245m-       [0m
user-runtime-dir@.service                  static          [0;38;5;245m-       [0m
user@.service                              static          [0;38;5;245m-       [0m
userconfig.service                         [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;32menabled [0m
wpa_supplicant-nl80211@.service            [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;32menabled [0m
wpa_supplicant-wired@.service              [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;32menabled [0m
wpa_supplicant.service                     [0;1;32menabled        [0m[0;1;32m [0m[0;1;32menabled [0m
wpa_supplicant@.service                    [0;1;31mdisabled       [0m[0;1;31m [0m[0;1;32menabled [0m
x11-common.service                         [0;1;31mmasked         [0m[0;1;31m [0m[0;1;32menabled [0m

159 unit files listed.
