{% from "macros/_form.html" import render_form %}

{% set page_title = 'Sign up' %}

{% extends "layouts/base.html" %}

{% block css %}
{% endblock %}

{% block body %}
<h2>Sign up <small>Already have an account? <a href="{{ url_for('frontend.login') }}">Sign in</a>, please.</small></h2>

<form method="POST" action="{{ url_for('frontend.signup') }}">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.password_again.label(class="form-label") }}
        {{ form.password_again(class="form-control") }}
    </div>

    <div class="form-check mb-3">
        {{ form.agree(class="form-check-input") }}
        {{ form.agree.label(class="form-check-label") }}
    </div>

    <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
</form>
{% endblock %}

{% block js_btm %}
{% endblock %}
